@import url("./font.css");

.title {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.title img {
    width: 25vw;
}

.title .bold {
    font-size: calc(1.75vw + 6px);
}

.bold {
    font-weight: bold;
}

.indexinfo {
    display: flex;
    height: 75%;
}

.indexParagraph {
    margin-left: 0.5vw;
    font-size: calc(1vw + 6px);
    width: 50vw;
    padding-right: 1vw;
}

.prettyimg {
    width: 35%;
    height: 30vw;
}