@import url("./font.css");

body {
    margin: 0;
    margin-top: 1.6%;
    background: url(../CorsaceAssets/img/ayim-mca/background.png);
    background-color: #141414;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'ClearSans';
    font-size: calc(1vw + 6px);
    color: white;
}

img {
    max-width: 100%;
}

.template-wrap {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav nuxt"
        "footer footer";
    grid-template-columns: 12vw 88vw;
}

.header {
    background-color: #262626;
    grid-area: header;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
}

.header-left {
    overflow: hidden;
    display: flex;
    align-items: center;
}

.ayim {
    left: -4.7vw;
    position: relative;
    height: calc(8.38vw - 7px);
}

.countdown {
    font-weight: lighter;
    text-align: right;
    align-self: center;
    display: flex;
    justify-content: right;
    flex-direction: column;
    padding: 0 26px;
    font-size: calc(1vw + 3.25px);
    white-space: nowrap;
    margin-left: auto;
    line-height: 200%;
}

.header-right {
    background-color: #313131;
    border-radius: 73.6px 0 0 73.6px;
    transition: background 0.25s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 21.9%;
    overflow: hidden;
}

.header-right img {
    max-width: 67%;
}

.headerHover {
    background: white;
    transition: background 0.25s ease;
}

.mcalogoHover {
    filter: brightness(0);
    transition: filter 0.25s;
}

.mcalogo {
    width: 2vw;
}

.nuxt {
    grid-area: nuxt;
    margin-top: calc(6vh + 6px);
    position: static;
    z-index: 0;
    padding-left: 5px;
}

.footer {
    background-color: #2a2a2a;
    grid-area: footer;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(0.9vw + 5px);
    color: #808080;
    font-weight: lighter;
    width: 100%;
}

.footer-left {
    padding: calc(1vh + 6px) 23px;
    display: flex;
}

.footer-left div, .footer-left a {
    display: flex;
    align-items: center;
}

.footer-left div, .footer-left img {
    padding: 0 9.5px;
}

.corsace {
    width: calc(1.925vw + 12px);
}

.corsaceText {
    width: calc(4.76vw + 12px);
}

.extLinks img {
    width: 2vw;
}

.footer-right {
    display: flex;
    align-items: center;
    text-align: right;
    padding-right: 3px;
}

@media only screen and (min-width: 1920px) { /* To not break stuff at 2K 4K etc */
    body {
        background-size: cover;
    }
    .header-left {
        display: initial;
        align-items: unset;
    }
    .ayim {
        height: 100%;
        left: -90px;
    }
}